---
import PictureImg from "../../components/atoms/PictureImg.astro";
import MainLayout from "../../layout/MainLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths(){
    
    const coleccition = await getCollection('curso');
    return coleccition.map((colec)=> (
        {
            params : {curso : colec.id},
            props: colec
        }
    ));
};


const { titulo, descripcion, modulos, imagenes } = Astro.props.data;
---

<MainLayout>



        <h1>{titulo}</h1>
        <PictureImg
        placeholder={imagenes.base64}
        imgName={imagenes.original.imgName}
        alt={imagenes.original.alt}
        formats={imagenes.original.formats}
    />
        
        <p>{descripcion}</p>
        
        {
            modulos &&
                modulos.length > 0 &&
                modulos.map(({ id, semanas }) => (
                    <Fragment>
                        <h3>{id}</h3>
                        {semanas.length > 0 &&
                            semanas.map(({ temas }) => (
                                <ul>
                                    <li>
                                        {temas.map((tema) => (
                                            <ul>
                                                <li>{tema}</li>
                                            </ul>
                                        ))}
                                    </li>
                                </ul>
                            ))}
                    </Fragment>
                ))
        }
        <!-- <PictureImg
        placeholder={imagenes.base64}
        imgName={imagenes.original.imgName}
        alt={imagenes.original.alt}
        formats={imagenes.original.formats}
    /> -->
       
</MainLayout>